:root {
  --color-background:          #F0F0F7;
  
  --color-primary-lighter:     #9871F5;
  --color-primary-light:       #916BEA;

  --color-primary:             #8257E5;
  --color-primary-dark:        #774DD6;
  --color-primary-darker:      #6842C2;

  --color-secundary:           #04D361;
  --color-secundary-dark:      #04BF58;

  --color-title-in-primary:    #FFFFFF;

  --color-text-in-primary:     #D4C2FF;
  --color-text-title:          #32264D;
  --color-text-complement:     #9C98A6;
  --color-text-base:           #6A6180;
  
  --color-line-in-white:       #E6E6F0;
  --color-input-background:    #F8F8FC;
  
  --color-button-text:         #FFFFFF;
  --color-box-base:            #FFFFFF;
  --color-box-footer:          #FAFAFC;
  --color-form-error:          #DD1030; 
}

/* 

#0B0F1E
#2b2F50
#39466A
#586093
#147AA7
#ABD7d9

#0B0D0F
#4E4226
#4E5257
#7B7286
#DADADB 

*/







